html, body {
  margin: 0;
  padding: 0;
}

.chart {
  border: 1px solid black;
  display: inline-block;
  shape-rendering: crispEdges;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}